# Function dependencies, for example:
# package>=version
Flask==2.2.2
Werkzeug==2.2.3
requests
google-api-python-client==1.7.9
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-storage
google-api-core
